
.diary-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
    margin: 80px auto 0; /* ✅ 이거만 바꿔 */
    
  }
  
  .diary-form input,
  .diary-form textarea {
    padding: 12px;
    border: 0.5px solid #575757;
    border-radius: 4px;
  }
  
  .diary-form textarea {
    height: 200px;
    resize: none;
    border: 0.5px solid #575757;

  }
  

  
  /* 🧊 날씨 토글 버튼 스타일 */
  .weather-section,
  .date-section,
  .content-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .weather-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 한 줄에 5개 */
    gap: 6px;
  }

