.login-form {
    background: white;
    padding: 30px 70px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    min-width: 500px;
    min-height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin: 0 auto;

    display: flex;              /* 💥 핵심 */
    flex-direction: column;     /* 세로로 쌓기 */
    justify-content: center;    /* 세로 가운데 정렬 */
    gap: 20px;                  /* 요소 사이 간격 */                 /* 요소 사이 간격 */;
  }
  
  .login-form h2 {
    text-align: center;
    font-size: 40px;
  }
.form-group label {
    font-size: 15px;
}
  .form-group {
    margin-bottom: 10px;
  }

  
  .checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .forgot-link {
    color: #6aa15d;
    text-decoration: none;
  }

  .join-link {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #6aa15d;
    font-size: 14px;
    text-decoration: none;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 100px 0 0 0;
    width: 100%;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* ← 입력칸 사이 간격 여기서 조절 */
    margin-bottom: 20px;
  }
