.login-form {
    background: white;
    padding: 60px;
    border-radius: 8px;
    width: 600px;
    height: 700px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);

    display: flex;              /* 💥 핵심 */
    flex-direction: column;     /* 세로로 쌓기 */
    justify-content: center;    /* 세로 가운데 정렬 */
    gap: 20px;                  /* 요소 사이 간격 */                 /* 요소 사이 간격 */;
  }
  
  h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 40px
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    background: #f2f3f6;
    border: none;
    border-radius: 4px;
  }
  
  .checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .forgot-link {
    color: #6aa15d;
    text-decoration: none;
  }
  
  .login-button {
    width: 100%;
    padding: 14px;
    background-color: #9ccf96;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .join-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #6aa15d;
    font-size: 14px;
    text-decoration: none;
  }
  
  hr {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 0.5px solid #ddd;
  }