/* 전체 사이드바 고정 */
.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px 15px 5px;
    box-sizing: border-box;
  }

/* 상단 로고 + 텍스트 */
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;  /* 가운데 정렬 */
    gap: 5px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .top-section {
    display: flex;
    flex-direction: column;
  }
  .sidebar-logo {
    width: 35px;
    height: 35px;
  }

/* 메뉴 버튼들 */
.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .menu button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s;
  }

  .menu button:hover {
    background-color: #e6f0e6;
  }
  
  /* 하단 로그아웃 */
  .logout {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    align-items: center;

  }
  
  .logout button {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 0;
    width: 100%;
  }